### Sl no 21, Topic-Math and Random Modules

#### Using the built-in functions on Numbers perform following operations
a) Round of the given floating point number. Example:  n=0.543 then round it next decimal number, i.e n=1.0 Use round() function
b) Find out the square root of a given number. (Use sqrt(x) function)
c) Generate random number between 0, and 1 ( use  random() function)
d) Generate random number between 10 and  500. (Use uniform() function)
e) Explore all Math and Random module functions  on a given number/ List.

In [1]:
import math
import random
num=eval(input("Please enter number= "))

print("Round number for the entered number= ",round(num))
print("square root of the number is= ",math.sqrt(num))
print("random number from 0 to 1= ",random.random())
print("random number from 10 to 500= ",random.uniform(10,500))
print(random.choice('computer'))

numbers=[12,23,45,67,65,43]
random.shuffle(numbers)
print(numbers)
print (math.ceil(num))
print (math.floor(num))
print (math.fabs(num))
print (math.factorial(25))

Please enter number= 12
Round number for the entered number=  12
square root of the number is=  3.4641016151377544
random number from 0 to 1=  0.7227707751654171
random number from 10 to 500=  474.53632592071006
e
[65, 43, 67, 23, 45, 12]
12
12
12.0
15511210043330985984000000

### Sl no 22, Topic-Math- Trigonometric functions

#### Read the value x and y from the user and apply all trigonometric functions on these numbers. Note: Refer the tutorial Trigonometric operation table.

In [4]:
import math
num = eval(input("Enter the number= "))
print("cosine of the number {0} is= {1}".format(num,math.cos(num)))
print("sine of the number {0} is= {1}".format(num,math.sin(num)))
print("tan of the number {0} is= {1}".format(num,math.tan(num)))
print("are tan of the number {0} is= {1}".format(num,math.atan(num)))

Enter the number= 12
cosine of the number 12 is= 0.8438539587324921
sine of the number 12 is= -0.5365729180004349
tan of the number 12 is= -0.6358599286615808
are tan of the number 12 is= 1.4876550949064553

### Sl no 23,Topic-Math – math.pi application

#### Find the area of Circle given that radius of a circle. (Use pi value from Math module as mathematical constant)

In [5]:
import math
num = eval(input("Enter the radius= "))
pi=math.pi
print("Area of the circel is= ",pi*num**2)

Enter the radius= 6
Area of the circel is=  113.09733552923255

### Sl no 24, Topic-Strings

#### Special Characters: Write program to explore all Escape characters specified in Tutorial (Under String chapter)

In [6]:
print("Backslash= \\")
print("single-quote= \'")
print("double quote= \"")
print("ASCII bell= \a")
print("ASCII backspace ="+"ab" + "\b" + "c")
print("ASCII formfeed= hello\fworld")
print("ASCII carriage return (CR) 123456\rXX_XX")
print("ASCII horizontal tab \t* hello")
print("16-bit hex value Unicode character= \u041b")

Backslash= \
single-quote= '
double quote= "
ASCII bell= 
ASCII backspace =abc
ASCII formfeed= helloworld
XX_XX
ASCII horizontal tab 	* hello
16-bit hex value Unicode character= Л

### Sl no 25, Topic-Strings

#### Write a program to print the different data types (Numbers, strings characters) using the Format symbols (Refer to different format symbols specified in Tutorial)

In [9]:
name="Mike"
age=34
print("Hello %s your age is %d" % (name,age))
list=[23,2,5,6]
print("list values are=%s"%list)
tem=98.2367
print("your body temperature is %.2f"%tem)
str='a'
print("%c"%str)

Hello Mike your age is 34
list values are=[23, 2, 5, 6]
your body temperature is 98.24
a

### Sl no 26,Topic-Strings

#### Receive the encoded string from your friend & decode it to check the original message. PS: You will receive Encoded string and the Algorithm used for encoding.

In [2]:
import codecs

#original=b"Hello"

#encoded2 = codecs.encode(original, 'base64') #base64,bz2,hex,uu,zip
#b'SGVsbG8=\n'
encoded=eval(input(b"Enter encoded text="))
encoded=bytes(encoded)
Algorithm =eval(input("Please enter the algorithm= "))
originalmsg=codecs.decode(encoded,Algorithm)
print("Origional Text is=%s"%originalmsg)

b'Enter encoded text='b'SGVsbG8=\n'
Please enter the algorithm= 'base64'
Origional Text is=b'Hello'

### Sl no 27,Topic-Strings

#### Write a program to check given string is Palindrome or not.That is reverse the given string and check whether it is same as original string, if so then it is palindrome.
Example: String = "malayalam"  reverse string = "malayalam" hence given string is palindrome. Use built functions to check given string is palindrome or not.

In [3]:
str=input("Please enter a string= ")
if str==str[::-1]:
    print("entered string is a palindrome ")
else:
    print("entered string is not a palindrome ")

Please enter a string= "malayalam"
entered string is a palindrome

### Sl no 28,Topic-Strings

#### Write a program to check how many ovals present in the given string.That is, count the number of " a e i o u" in the given string and print the numbers against each oval.Example:- "This is Python" Number of total ovals = 3, i = 2, o =1

In [4]:
str=eval(input("Please enter the string= "))
str=str.lower()
vowel_dict={'a':0,'e':0,'i':0,'o':0,'u':0}
for s in str:
    for key in vowel_dict.keys():
        if s==key:
            value=vowel_dict.get(key)+1
            dict1={key:value}
            vowel_dict.update(dict1)
            
print("total number of vowels are= {0}".format(sum(vowel_dict.values())))
for (key,values) in vowel_dict.items():
    if values>0:
        print("{0}-{1}".format(key,values))

Please enter the string= "This is Python"
total number of vowels are= 3
i-2
o-1

### Sl no 29,Topic-Strings

#### Apply all built in functions on Strings in your program. Note:There are 40 string functions. Use Tutorial for the help.Note: Each program should have 5 string built in functions(so write 8 programs to cover all string functions)

In [5]:
#String functions 1-8

# function 1- capitalize ; Converts the first character to upper case.
str="hello, welcome to wipro"
print(str.capitalize())

#function 2- casefold ; Converts string into lower case
str="HELLO WELCOME TO WIPRO"
print(str.casefold())

#function 3- count;Returns the number of times a specified value occurs in a string
str = "I love apples, apple are my favorite fruit"
print(str.count("apple"))

#function 4- endswith ; Returns true if the string ends with the specified value
print(str.endswith("fruit"))

#function 5- find ; Searches the string for a specified value and returns the position of where it was found
print(str.find("p"))

#function 6- format; Formats specified values in a string
str = "For only {fare:.2f} rupees!"
print(str.format(fare = 500))

#function 7- index; Searches the string for a specified value and returns the position of where it was found
print(str.index("only"))

#function 8- isalnum ; Returns True if all characters in the string are alphanumeric
str="office365"
print(str.isalnum())
####================================####

#String functions 9-16

#function 9- isalpha(); Returns True if all characters in the string are in the alphabet
print(str.isalpha())

#function 10- isidentifier(); Returns True if the string is an identifier
print(str.isidentifier())

#function 11-islower; Returns True if all characters in the string are lower case
print(str.islower())

#function 12-isnumeric; Returns True if all characters in the string are numeric
print(str.isnumeric())

#function 13- isprintable; Returns True if all characters in the string are printable
str="Hello! Are you #1?"
print(str.isprintable())

#function 14- isspace;Returns True if all characters in the string are whitespaces
str="   "
print(str.isspace())

#function 15- istitle; Returns True if the string follows the rules of a title
str="HELLO, AND WELCOME TO MY WIPRO"
print(str.istitle())

#function 16-isupper; eturns True if all characters in the string are upper case
print(str.isupper())

###=====================##
#String function 17-24

#function 17- join;Joins the elements of an iterable to the end of the string
str2=" Bangalore"
print("#".join(str2))

#function 18-ljust;Returns a left justified version of the string
str ="Bangalore"
x = str.ljust(20)
print(x, "is my favorite place")

#function 19-lower; Converts a string into lower case
str="HELLO, AND WELCOME TO MY WIPRO"
print(str.lower())

#function 20-lstrip;Returns a left trim version of the string
str="HELLO, AND WELCOME TO MY WIPRO  "
print(str.lstrip())

#function 21--partition;Returns a tuple where the string is parted into three parts
str="I could eat bananas all day"
print(str.partition("bananas"))

#function 22-replace;Returns a string where a specified value is replaced with a specified value
str = "I like bananas"
str2=str.replace("bananas", "apples")
print(str2)

#function 23-rfind; Searches the string for a specified value and returns the last position of where it was found
str="Welcome to bangalore, welcome to wipro"
print(str.rfind("to"))

#function 24-rindex; Searches the string for a specified value and returns the last position of where it was found
print(str.rindex("to"))

###====================###
#String function 25-32

#function 25-rjust; Returns a right justified version of the string
str ="Bangalore"
x = str.rjust(20)
print(x, "is my favorite place")

#function 26-rsplit; Splits the string at the specified separator, and returns a list
str = "apple,wipro,microsoft"
x = str.rsplit(",")
print(x)

#function 27- rstrip; Returns a right trim version of the string
str = "     banana     "
x = str.rstrip()
print("of all fruits", x, "is my favorite")

#function 28-split; Splits the string at the specified separator, and returns a list
str = "welcome to the wipro"
print(str.split())

#function 29-splitlines; Splits the string at line breaks and returns a list
str = "Thank you for the music\nWelcome to the bangalore"
print(str.splitlines())

#function 30- startswith; Returns true if the string starts with the specified value
str="Welcome to bangalore, welcome to wipro"
print(str.startswith("Welcome"))

#function 31-strip; Returns a trimmed version of the string
str = "     bangalore     "
x = str.strip()
print("it city", x, "is my home town")

#function 32-swapcase; Swaps cases, lower case becomes upper case and vice versa
str = "Hello My Name Is RAmAkAnT"
print(str.swapcase())

###===================##
# String function 33-36

#function 33-upper; Converts a string into upper case
str="this is my home town"
print(str.upper())

#function 34 encode;Returns an encoded version of the string
print(str.encode())

#function 35- expandtabs;Sets the tab size of the string
str= "H\te\tl\tl\to"
print(str.expandtabs(2))

#function 36 -zfill() Fills the string with a specified number of 0 values at the beginning
txt = "50"
x = txt.zfill(10)
print(x)

Hello, welcome to wipro
hello welcome to wipro
2
True
8
For only 500.00 rupees!
4
True
False
True
True
False
True
True
False
True
 #B#a#n#g#a#l#o#r#e
Bangalore            is my favorite place
hello, and welcome to my wipro
HELLO, AND WELCOME TO MY WIPRO
('I could eat ', 'bananas', ' all day')
I like apples
30
30
           Bangalore is my favorite place
['apple', 'wipro', 'microsoft']
of all fruits      banana is my favorite
['welcome', 'to', 'the', 'wipro']
['Thank you for the music', 'Welcome to the bangalore']
True
it city bangalore is my home town
hELLO mY nAME iS raMaKaNt
THIS IS MY HOME TOWN
b'this is my home town'
H e l l o
0000000050

### Sl no 30, Topic-Strings

#### Write a program to Sort given N numbers (Use only loop structures and Conditions to sort the elements. Use Bubble sort / Selection sort technique to sort the elements of List)Note: Don't use built in functions to sort.

In [6]:
def Sort(nlist):
    for num in range(len(numlist)-1,0,-1):
        for i in range(num):
            if numlist[i]>numlist[i+1]:
                temp = numlist[i]
                numlist[i] = numlist[i+1]
                numlist[i+1] = temp

numlist = [14,46,43,27,57,41,45,21,70]
Sort(numlist)
print(numlist)

[14, 21, 27, 41, 43, 45, 46, 57, 70]

### Sl no-31,Topic-Strings

#### Write a program to search an element in the list. i.e. Perform the binary search on the sorted list having integers as elements. If the search is successful print "Success" else print "un successful search".

In [7]:
def binary_search(item_list,item):
    
    first = 0
    last = len(item_list)-1
    found = 0
    while( first<=last and not found):
        mid = (first + last)//2
        if item_list[mid] == item :
            found = 1
        else:
            if item < item_list[mid]:
                last = mid - 1
            else:
                first = mid + 1
    return found

result= binary_search([1,2,3,5,8], 6)

if result==1:
    print("Success")
else:
    print("un successful search")
    
result= binary_search([1,2,3,5,8], 5)

if result==1:
    print("Success")
else:
    print("un successful search")

un successful search
Success

### Sl no 32,Topic-Strings

#### Write a program to perform following operations on List. Create three lists as List1,List2 and List3 having 5 city names each list.
a. Find the length city of each list element and print city and length

b. Find the maximum and minimum string length element of each list

c. Compare each list and determine which city is biggest & smallest with length.

d. Delete first and last element of each list and print list contents.

In [8]:

List1=['Mumbai','Hyderabad','Chennai','Jaipur','Nagpur']
List2=['Delhi','Ahmedabad','Kolkata','Visakhapatnam','Lucknow']
List3=['Bangalore','Surat','Pune','Kanpur','Thane']

#a. find the length of the city in each list..

for l in List1:
    print("List 1 City= {0}, lenght={1}".format(l,len(l)))

for l in List2:
    print("List 2 City= {0}, lenght={1}".format(l,len(l)))
for l in List3:
    print("List 3 City= {0}, lenght={1}".format(l,len(l)))
    
#with map function
list(map(lambda x:print("List 1 by map Length of city={0}, length={1}".format(x,len(x))),List1))
list(map(lambda x:print("List 2 by map Length of city={0}, length={1}".format(x,len(x))),List2))
list(map(lambda x:print('List 3 by map Length of city={0}, length={1}'.format(x,len(x))),List3))

#b. Find the maximum and minimum string length element of each list

max_len=max(list(map(lambda x:len(x),List1)))
min_len=min(list(map(lambda x:len(x),List1)))
print("List1 max length={0}, min length={1}".format(max_len,min_len))

max_len=max(list(map(lambda x:len(x),List2)))
min_len=min(list(map(lambda x:len(x),List2)))
print("List2 max length={0}, min length={1}".format(max_len,min_len))

max_len=max(list(map(lambda x:len(x),List3)))
min_len=min(list(map(lambda x:len(x),List3)))
print("List3 max length={0}, min length={1}".format(max_len,min_len))

#c. Compare each list and determine which city is biggest & smallest with length.
List4=List1+List2+List3

dict1={}
for l in List4:
    dict1.update({l:len(l)})
Citymax = max(dict1, key=dict1.get) 
Citymin = min(dict1, key=dict1.get) 
print("Max lenth city={0}, Min lenght city={1}".format(Citymax,Citymin))

#d. Delete first and last element of each list and print list contents.
del List1[0]
del List1[-1]
del List2[0]
del List2[-1]
del List3[0]
del List3[-1]
print("List1=",List1)
print("List2=",List2)
print("List3=",List3)

List 1 City= Mumbai, lenght=6
List 1 City= Hyderabad, lenght=9
List 1 City= Chennai, lenght=7
List 1 City= Jaipur, lenght=6
List 1 City= Nagpur, lenght=6
List 2 City= Delhi, lenght=5
List 2 City= Ahmedabad, lenght=9
List 2 City= Kolkata, lenght=7
List 2 City= Visakhapatnam, lenght=13
List 2 City= Lucknow, lenght=7
List 3 City= Bangalore, lenght=9
List 3 City= Surat, lenght=5
List 3 City= Pune, lenght=4
List 3 City= Kanpur, lenght=6
List 3 City= Thane, lenght=5
List 1 by map Length of city=Mumbai, length=6
List 1 by map Length of city=Hyderabad, length=9
List 1 by map Length of city=Chennai, length=7
List 1 by map Length of city=Jaipur, length=6
List 1 by map Length of city=Nagpur, length=6
List 2 by map Length of city=Delhi, length=5
List 2 by map Length of city=Ahmedabad, length=9
List 2 by map Length of city=Kolkata, length=7
List 2 by map Length of city=Visakhapatnam, length=13
List 2 by map Length of city=Lucknow, length=7
List 3 by map Length of city=Bangalore, length=9
List 3 by map Length of city=Surat, length=5
List 3 by map Length of city=Pune, length=4
List 3 by map Length of city=Kanpur, length=6
List 3 by map Length of city=Thane, length=5
List1 max length=9, min length=6
List2 max length=13, min length=5
List3 max length=9, min length=4
Max lenth city=Visakhapatnam, Min lenght city=Pune
List1= ['Hyderabad', 'Chennai', 'Jaipur']
List2= ['Ahmedabad', 'Kolkata', 'Visakhapatnam']
List3= ['Surat', 'Pune', 'Kanpur']

### Sl no 33,Topic-Strings

#### Create a list with 7 elements and perform following operations. Let the list be initialized with List1 any 5 city names;
a) Append anew city name to the List
b) Insert a city name at 4th index position
c) Sort the list and print all elements
d) Sort the elements of the list in descending order.
e) delete last three elements using pop operation

In [9]:
List1=['Mumbai','Hyderabad','Chennai','Jaipur','Nagpur']

#a.Append a new city name to the List
List1.append('Visakhapatnam')

#b.Insert a city name at 4th index position
List1.insert(4,'Kanpur')

#c. Sort the list and print all elements
List1.sort()
print("sorted list={0}".format(List1))

#d. Sort the elements of the list in descending order.
List1.sort(reverse=True)
print("sorted list in descending order={0}".format(List1))

#e. delete last three elements using pop operation
count=3
i=0
while i<count:
    List1.pop(-1)
    i+=1
print(List1)

sorted list=['Chennai', 'Hyderabad', 'Jaipur', 'Kanpur', 'Mumbai', 'Nagpur', 'Visakhapatnam']
sorted list in descending order=['Visakhapatnam', 'Nagpur', 'Mumbai', 'Kanpur', 'Jaipur', 'Hyderabad', 'Chennai']
['Visakhapatnam', 'Nagpur', 'Mumbai', 'Kanpur']

### Sl no 34,Topic-Strings

#### Create 3 Lists (list1,list2,list3) with integer and perform following operations
a) Create Maxlist by taking 2 maximum elements from each list.
b) Find average value from all the elements of Maxlist.
c) Create a MinlIst by taking 2 minimum elements from each list 
d) Find the average value from all the elements of Minlist

In [10]:
List1=[2,3,66,55,32,8,19]

List2=[66,89,7,2,90,33,41]

List3=[45,78,88,20,19,32]

List4=[]
List5=[]
#a. Create Maxlist by taking 2 maximum elements from each list.
List1.sort()
for l in List1[-2:]:
    List4.append(l)

List2.sort()
for l in List2[-2:]:
    List4.append(l)

List3.sort()
for l in List3[-2:]:

    List4.append(l)

#b. Find average value from all the elements of Maxlist.

def List_Avg(input):
    Avg=sum(input)/len(input)
    return Avg

print("Average of Max list={0}".format(List_Avg(List4)))

#c. Create a MinlIst by taking 2 minimum elements from each list

for l in List1[0:2]:
    List5.append(l)
    
for l in List2[0:2]:
    List5.append(l)
    
for l in List3[0:2]:
    List5.append(l)
    
#d. Find the average value from all the elements of Minlist

print("Average of Min list={0}".format(List_Avg(List5)))

Average of Max list=77.66666666666667
Average of Min list=8.833333333333334

### Sl no 35,Topic-Strings

#### Create Tuple as specified below;
a) Create a Tuple tup1 with days in a week & print the tuple elements
b) Create a Tuple tup2  with months in a year and concatenate it with tup1
c) Create 3 tuples( tup1,tup2,tup3) with numbers and determine which is greater.
d) Try to delete an individual element in tup1 and try deleting complete Tuple -tup1 notice the error type you get.
e) Insert new element in to tuple by typecasting it to List

In [11]:
#35
#a and b
tup_week=('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
tup_month=('Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec')
tup_month=tup_month+tup_week
print(tup_month)

#c.
tup1=(10,30,2,3,44,56)
tup2=(45,8,9,120,34,67,55,98,31,21,2,12,21)
tup3=(6,8,9,11,23,45,89,90,67,88)

if len(tup1)>len(tup2):
    if len(tup1)>len(tup3):
        print("tup1 is greater")
    else:
        print("tup3 is greater")
else:
    if len(tup2)>len(tup3):
        print("tup2 is greater")
    else:
        print("tup3 is greater")
#d.
#del tup1[0]
del tup1

#e.
list1=list(tup3)
list1.append(200)
print(list1)

('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
tup2 is greater
[6, 8, 9, 11, 23, 45, 89, 90, 67, 88, 200]

### Sl no 36, Topic-Strings

#### Create two tuples tup1 & tup2 and apply all built in functions on tuples. ( Refer Tutorial for the Built in functions list)

In [14]:
tup1=(1,45,2,33,46,78,90)
tup2=(56,99,12,91,56,32,79)

print(len(tup1))
print(tup1[1:4])
print(tup1[-1])
print(max(tup1))
print(min(tup1))

7
(45, 2, 33)
90
90
1

### Sl no 37,Topic- Dictionary  and Date & Time

#### Create 3 dictionaries(dict1,dict2, dict3) with 3 elements each. Perform following operations
a) Compare dictionaries to determine the biggest.
b) Add new elements in to the dictionaries dict1, dict2
c) print the length of dict1,dict2,dict3.
d) Convert dict1, dict2, and dict3 dictionaries as string and concatenate all strings together.

In [8]:

dict1={'name':'Anil','Age':28,'city':'Bangalore'}
dict2={'compeny':'Eco world','No of Emp':208,'city':'Bangalore','Country':'India'}
dict3={'School':'Divine school','Student name':'Ajay','Class':4,'city':'Bangalore','Country':'India'}

#a.
if dict1.items()>dict2.items():
    if dict1.items()>dict3.items():
        print("dict1 is bigger")
    else:
        print("dict3 is bigger")
else:
    if dict2.items()>dict3.items():
        print("dict2 is bigger")
    else:
        print("dict3 is bigger")
#b.
if 'gender' not in dict1.keys():
    dict1['gender']='Male'
if 'CEO' not in dict2.keys():
    dict2['CEO']='Mr. Joy'

#c.
    print('Lenght of dict1={0}'.format(len(dict1)))
print('Lenght of dict2={0}'.format(len(dict2)))
print('Lenght of dict3={0}'.format(len(dict3)))

dstr1=str(dict1)
dstr2=str(dict2)
dstr3=str(dict3)
print(dstr1+dstr2+dstr3)

dict3 is bigger
Lenght of dict1=4
Lenght of dict2=5
Lenght of dict3=5
{'name': 'Anil', 'Age': 28, 'city': 'Bangalore', 'gender': 'Male'}{'compeny': 'Eco world', 'No of Emp': 208, 'city': 'Bangalore', 'Country': 'India', 'CEO': 'Mr. Joy'}{'School': 'Divine school', 'Student name': 'Ajay', 'Class': 4, 'city': 'Bangalore', 'Country': 'India'}

### Sl no 38, Topic-Dictionary  and Date & Time

#### Create 2 dictionaries as follows;
dict1 ={'Name':'Ramakrishna','Age':25}
dict2={'EmpId':1234,'Salary':5000}
Perform following operations   
a) Create single dictionary by merging dict1 and dict2
b) Update the salary to 10%
c) Update the age to 26
d) Insert the new element with key "grade" and assign value as "B1"
e) Extract and print all values and keys separately.
f) delete the element with key 'Age' and print dictionary elements.

In [9]:
#38
dict1 ={'Name':'Ramakrishna','Age':25}
dict2={'EmpId':1234,'Salary':5000}

#a.
dict1.update(dict2)

#b , c,d
dict1['Salary']=int(dict1['Salary'])*0.1+int(dict1['Salary'])
dict1['Age']=26
dict1['grade']='B1'

#e.
print("All keys are=%s"%dict1.keys())
print("All values are=%s"%dict1.values())

#f.
del dict1['Age']
print(dict1)

All keys are=dict_keys(['Name', 'Age', 'EmpId', 'Salary', 'grade'])
All values are=dict_values(['Ramakrishna', 26, 1234, 5500.0, 'B1'])
{'Name': 'Ramakrishna', 'EmpId': 1234, 'Salary': 5500.0, 'grade': 'B1'}

### Sl no 39, Topic-Dictionary  and Date & Time

#### Using Time and Calendar module,Print current date and time. Print current month calendar.

In [15]:
from datetime import date,datetime
print("current date and time %s"%datetime.now())
print("Current month=%s"%datetime.now().strftime('%B'))

current date and time 2020-03-08 18:54:15.858444
Current month=March

### Sl no 40, Topic-Dictionary  and Date & Time

#### Using time module perform following operations.
a) Print current time for every 5 seconds up to 1 minute time interval.
b) Write a program to find out how much CPU time is taken for the execution of above(32.a)  program.

In [16]:
#a.
import time
from datetime import datetime
i=0
while i<=60:
    print(datetime.now())
    time.sleep(5)
    i+=5

#b.
import timeit
List1=['Mumbai','Hyderabad','Chennai','Jaipur','Nagpur']
List2=['Delhi','Ahmedabad','Kolkata','Visakhapatnam','Lucknow']
List3=['Bangalore','Surat','Pune','Kanpur','Thane']

#a. find the length of the city in each list..
testcode = '''
List1=['Mumbai','Hyderabad','Chennai','Jaipur','Nagpur']
List2=['Delhi','Ahmedabad','Kolkata','Visakhapatnam','Lucknow']
List3=['Bangalore','Surat','Pune','Kanpur','Thane']
for l in List1:
    print("List 1 City= {0}, lenght={1}".format(l,len(l)))

for l in List2:
    print("List 2 City= {0}, lenght={1}".format(l,len(l)))
for l in List3:
    print("List 3 City= {0}, lenght={1}".format(l,len(l)))
'''

elapsed_time = timeit.timeit(testcode,number=10)
print(elapsed_time)

2020-03-08 18:54:23.735895
2020-03-08 18:54:28.737181
2020-03-08 18:54:33.737467
2020-03-08 18:54:38.737753
2020-03-08 18:54:43.738039
2020-03-08 18:54:48.738325
2020-03-08 18:54:53.738611
2020-03-08 18:54:58.738897
2020-03-08 18:55:03.739183
2020-03-08 18:55:08.739469
2020-03-08 18:55:13.739755
2020-03-08 18:55:18.740041
2020-03-08 18:55:23.740327
List 1 City= Mumbai, lenght=6
List 1 City= Hyderabad, lenght=9
List 1 City= Chennai, lenght=7
List 1 City= Jaipur, lenght=6
List 1 City= Nagpur, lenght=6
List 2 City= Delhi, lenght=5
List 2 City= Ahmedabad, lenght=9
List 2 City= Kolkata, lenght=7
List 2 City= Visakhapatnam, lenght=13
List 2 City= Lucknow, lenght=7
List 3 City= Bangalore, lenght=9
List 3 City= Surat, lenght=5
List 3 City= Pune, lenght=4
List 3 City= Kanpur, lenght=6
List 3 City= Thane, lenght=5
List 1 City= Mumbai, lenght=6
List 1 City= Hyderabad, lenght=9
List 1 City= Chennai, lenght=7
List 1 City= Jaipur, lenght=6
List 1 City= Nagpur, lenght=6
List 2 City= Delhi, lenght=5
List 2 City= Ahmedabad, lenght=9
List 2 City= Kolkata, lenght=7
List 2 City= Visakhapatnam, lenght=13
List 2 City= Lucknow, lenght=7
List 3 City= Bangalore, lenght=9
List 3 City= Surat, lenght=5
List 3 City= Pune, lenght=4
List 3 City= Kanpur, lenght=6
List 3 City= Thane, lenght=5
List 1 City= Mumbai, lenght=6
List 1 City= Hyderabad, lenght=9
List 1 City= Chennai, lenght=7
List 1 City= Jaipur, lenght=6
List 1 City= Nagpur, lenght=6
List 2 City= Delhi, lenght=5
List 2 City= Ahmedabad, lenght=9
List 2 City= Kolkata, lenght=7
List 2 City= Visakhapatnam, lenght=13
List 2 City= Lucknow, lenght=7
List 3 City= Bangalore, lenght=9
List 3 City= Surat, lenght=5
List 3 City= Pune, lenght=4
List 3 City= Kanpur, lenght=6
List 3 City= Thane, lenght=5
List 1 City= Mumbai, lenght=6
List 1 City= Hyderabad, lenght=9
List 1 City= Chennai, lenght=7
List 1 City= Jaipur, lenght=6
List 1 City= Nagpur, lenght=6
List 2 City= Delhi, lenght=5
List 2 City= Ahmedabad, lenght=9
List 2 City= Kolkata, lenght=7
List 2 City= Visakhapatnam, lenght=13
List 2 City= Lucknow, lenght=7
List 3 City= Bangalore, lenght=9
List 3 City= Surat, lenght=5
List 3 City= Pune, lenght=4
List 3 City= Kanpur, lenght=6
List 3 City= Thane, lenght=5
List 1 City= Mumbai, lenght=6
List 1 City= Hyderabad, lenght=9
List 1 City= Chennai, lenght=7
List 1 City= Jaipur, lenght=6
List 1 City= Nagpur, lenght=6
List 2 City= Delhi, lenght=5
List 2 City= Ahmedabad, lenght=9
List 2 City= Kolkata, lenght=7
List 2 City= Visakhapatnam, lenght=13
List 2 City= Lucknow, lenght=7
List 3 City= Bangalore, lenght=9
List 3 City= Surat, lenght=5
List 3 City= Pune, lenght=4
List 3 City= Kanpur, lenght=6
List 3 City= Thane, lenght=5
List 1 City= Mumbai, lenght=6
List 1 City= Hyderabad, lenght=9
List 1 City= Chennai, lenght=7
List 1 City= Jaipur, lenght=6
List 1 City= Nagpur, lenght=6
List 2 City= Delhi, lenght=5
List 2 City= Ahmedabad, lenght=9
List 2 City= Kolkata, lenght=7
List 2 City= Visakhapatnam, lenght=13
List 2 City= Lucknow, lenght=7
List 3 City= Bangalore, lenght=9
List 3 City= Surat, lenght=5
List 3 City= Pune, lenght=4
List 3 City= Kanpur, lenght=6
List 3 City= Thane, lenght=5
List 1 City= Mumbai, lenght=6
List 1 City= Hyderabad, lenght=9
List 1 City= Chennai, lenght=7
List 1 City= Jaipur, lenght=6
List 1 City= Nagpur, lenght=6
List 2 City= Delhi, lenght=5
List 2 City= Ahmedabad, lenght=9
List 2 City= Kolkata, lenght=7
List 2 City= Visakhapatnam, lenght=13
List 2 City= Lucknow, lenght=7
List 3 City= Bangalore, lenght=9
List 3 City= Surat, lenght=5
List 3 City= Pune, lenght=4
List 3 City= Kanpur, lenght=6
List 3 City= Thane, lenght=5
List 1 City= Mumbai, lenght=6
List 1 City= Hyderabad, lenght=9
List 1 City= Chennai, lenght=7
List 1 City= Jaipur, lenght=6
List 1 City= Nagpur, lenght=6
List 2 City= Delhi, lenght=5
List 2 City= Ahmedabad, lenght=9
List 2 City= Kolkata, lenght=7
List 2 City= Visakhapatnam, lenght=13
List 2 City= Lucknow, lenght=7
List 3 City= Bangalore, lenght=9
List 3 City= Surat, lenght=5
List 3 City= Pune, lenght=4
List 3 City= Kanpur, lenght=6
List 3 City= Thane, lenght=5
List 1 City= Mumbai, lenght=6
List 1 City= Hyderabad, lenght=9
List 1 City= Chennai, lenght=7
List 1 City= Jaipur, lenght=6
List 1 City= Nagpur, lenght=6
List 2 City= Delhi, lenght=5
List 2 City= Ahmedabad, lenght=9
List 2 City= Kolkata, lenght=7
List 2 City= Visakhapatnam, lenght=13
List 2 City= Lucknow, lenght=7
List 3 City= Bangalore, lenght=9
List 3 City= Surat, lenght=5
List 3 City= Pune, lenght=4
List 3 City= Kanpur, lenght=6
List 3 City= Thane, lenght=5
List 1 City= Mumbai, lenght=6
List 1 City= Hyderabad, lenght=9
List 1 City= Chennai, lenght=7
List 1 City= Jaipur, lenght=6
List 1 City= Nagpur, lenght=6
List 2 City= Delhi, lenght=5
List 2 City= Ahmedabad, lenght=9
List 2 City= Kolkata, lenght=7
List 2 City= Visakhapatnam, lenght=13
List 2 City= Lucknow, lenght=7
List 3 City= Bangalore, lenght=9
List 3 City= Surat, lenght=5
List 3 City= Pune, lenght=4
List 3 City= Kanpur, lenght=6
List 3 City= Thane, lenght=5
0.01832311375420818